.account {
  font-family: "Inter", sans-serif;
  padding: 40px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
  color: #333;
  margin-top: 150px;

  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 28px;
    color: #222;
  }

  // ----- FORM -----
  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    margin-bottom: 35px;
  }
}

// Form group
.form-group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
  }

  input,
  select {
    height: 45px;
    padding: 0 14px;
    border: 1px solid #d7dbe0;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.2s ease;

    &:focus {
      border-color: #1e75ff;
      outline: none;
      background: #f8fbff;
    }
  }
}

// Email input full width
.form-group--full {
  grid-column: span 2;
}

.email-status {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff7c2;
  color: #b28900;
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 8px;
  border: 1px solid #eedb8a;
  margin-left: 20px;
}

// ----- SAVE BUTTON -----
.account__save-btn {
  padding: 12px 26px;
  background: #1e75ff;
  border: none;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background: #0d5fe0;
  }
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .account__form {
    grid-template-columns: 1fr;
  }

  .form-group--full {
    grid-column: 1 span;
  }

  .account__avatar-section {
    flex-direction: column;
    align-items: flex-start;
  }
}
