.container {
  width: 100%;
  max-width: 1250px;
  padding-left: 0px;
  padding-right: 0px;
}

// body {
//   font-family: "Roboto", sans-serif;
// }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}
