.desc-music {
  background: linear-gradient(to right, #fafdff 0%, #f8fbff 100%);

  border-top: 2px solid #ebf0fd;
  border-bottom: 2px solid #ebf0fd;

  &__content {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 275px;
  }

  &__text {
    padding: 20px 10px;
    margin: 0px;
    color: #7b7877;
    font-family: "Roboto", sans-serif;
  }
}

@media (max-width: 1400px) and (min-width: 1200px) {
  .desc-music__content {
    padding: 0 180px;
    justify-content: space-evenly;
    gap: 30px;
  }

  .desc-music__text {
    font-size: 16px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .desc-music__content {
    padding: 0px 100px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .desc-music__content {
    padding: 0px 10px;
  }

  .desc-music__text {
    font-size: 16px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .desc-music {
    padding: 10px 0px;
  }

  .desc-music__content {
    flex-wrap: wrap;
    padding: 0px 20px;
    justify-content: center;
    gap: 18px;
  }

  .desc-music__text {
    font-size: 14px;
    padding: 0px 10px;
  }
}

@media (max-width: 576px) {
  .desc-music__content {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .desc-music__text {
    font-size: 15px;
    text-align: center;
    padding: 8px 0px;
  }
}
