.footer {
  border-top: 2px solid rgba(160, 171, 169, 0.568);

  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__title {
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
    color: #222;
  }

  p, li {
    font-size: 14px;
    color: #555;
    margin: 6px 0;
    line-height: 1.6;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li:hover {
    color: #000;
    cursor: pointer;
  }

  &__icon {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    transition: transform 0.2s ease, color 0.2s ease;

    &:hover {
      transform: scale(1.2);
      color: #ff4c60;
    }
  }

  &__icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
  }

  &__bottom {
    border-top: 2px solid rgba(160, 171, 169, 0.568);
    padding: 10px 0px;
    text-align: center;
  }
}
