.hero {
  width: 100%;
  height: auto;
  padding: 80px 0px;
  padding-bottom: 0px;
  background: linear-gradient(180deg,
      #e8ead6 0%,
      /* vàng dịu */
      #f1edef 40%,
      /* xanh nhạt */
      #f2eff1 100%
      /* xanh đậm tối */
    );



}