.hero {
  width: 100%;
  height: auto;
  padding: 80px 0px;
  padding-bottom: 0px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    /* trắng hơi sẫm */ #d4eaff 50%,
    /* xanh biển nhạt */ #fff6fb 100% /* hồng nhạt */
  );
}
