.hero {
  width: 100%;
  height: auto;
  padding: 80px 0px;
  padding-bottom: 0px;
  background: linear-gradient(180deg,
      #dac8a0 0%,
      /* vàng dịu */
      #dce7e9 50%,
      /* xanh nhạt */
      #f2eff1 100%
      /* xanh đậm tối */
    );



}