.hero {
  width: 100%;
  height: auto;
  padding: 80px 0px;
  padding-bottom: 0px;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    /* trắng hơi sẫm */ #d4eaff 50%,
    /* xanh biển nhạt */ #fff6fb 100% /* hồng nhạt */
  );

  position: relative;
  overflow: hidden;

  &__background-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }

  &__icon {
    position: absolute;
    color: rgba(30, 136, 229, 0.1); // Màu xanh nhạt, rất mờ
    animation: float 6s ease-in-out infinite;

    &--1 {
      top: 10%;
      left: 5%;
      font-size: 40px;
      animation-delay: 0s;
      transform: rotate(-15deg);
    }

    &--2 {
      top: 20%;
      right: 10%;
      font-size: 60px;
      animation-delay: 1s;
      transform: rotate(10deg);
    }

    &--3 {
      bottom: 15%;
      left: 15%;
      font-size: 80px;
      animation-delay: 2s;
      transform: rotate(-5deg);
    }

    &--4 {
      bottom: 30%;
      right: 5%;
      font-size: 50px;
      animation-delay: 3s;
      transform: rotate(20deg);
    }

    &--5 {
      top: 40%;
      left: 40%;
      font-size: 30px;
      animation-delay: 4s;
      transform: rotate(-10deg);
      opacity: 0.05;
    }

    &--6 {
      top: 15%;
      left: 60%;
      font-size: 45px;
      animation-delay: 1.5s;
      transform: rotate(5deg);
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
