.hero {
  width: 100%;
  height: auto;
  padding: 80px 0px;
  padding-bottom: 0px;
  background: linear-gradient(
  to bottom,
  #fffffb 0%,    /* trắng hơi sẫm */
  #e6f3ff 50%,   /* xanh biển nhạt */
  #fff6fb 100%   /* hồng nhạt */
);


}



