.navbar {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  transition: 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 13px;

  &__container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    .navbar__brand {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #111;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }

  &__menu {
    display: flex;
    gap: 40px;

    .navbar__link {
      text-decoration: none;
      color: #4f4d4c;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #3362e5;
      }
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    gap: 12px;

    .navbar__btn {
      padding: 8px 16px;
      border-radius: 6px;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.3s;

      &--primary {
        background: #11162c;
        color: #fff;
      }

      &--secondary {
        background: #0084d1;
        color: white;
      }
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;

    @media (max-width: 992px) {
      display: block;
    }
  }

  &__mobile-menu {
    width: 180px;
    position: absolute;
    top: 10px;
    right: 12px;
    transition: 0.3s ease;
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    z-index: 2000;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    a {
      text-decoration: none;
      color: #4f4d4c;
      font-weight: 500;
      display: block;
      padding: 14px 20px;
      transition: color 0.3s;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    &.active {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }
}

/* Breakpoints */
@media (max-width: 1200px) and (min-width: 992px) {
  .navbar__menu {
    gap: 20px;
  }

  .navbar__mobile-menu {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .navbar__mobile-menu {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .navbar__mobile-menu {
    width: 120px;
    font-size: 16px; // bạn bị thiếu "px" chỗ này
  }
}

@media (max-width: 576px) {
  .navbar__mobile-menu {

    a {
      padding: 10px 10px;
      font-size: 13px;
    }
  }
}