@use "Container";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.navbar {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 99;

  .navbar__container {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 13px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    font-family: "Roboto", sans-serif;
  }

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      height: 40px;       // chỉnh logo vừa đẹp
      width: auto;
      object-fit: contain;
      border-radius: 8px; // optional: bo nhẹ logo
      margin-right: 8px;
    }
  }

  &__brand {
    font-size: 22px;
    font-weight: 500;
    color: #0f172b;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 17px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    transition: color 0.3s;

    &:hover {
      color: #1d293d;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #0084d1;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }

  &__btn {
    padding: 0.5rem 1.2rem;
    font-weight: 500;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    &--primary {
      background-color: #0f172b;
      color: #fff;
      text-decoration: none;
      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
      }
    }

    &--secondary {
      background-color: #fff;
      color: #000;
      border: 1px solid #f0f0f0;
      text-decoration: none;
      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        transform: translateY(-2px);
      }
    }
  }
}
