@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.pricing {
  font-family: "Inter", sans-serif;
  padding-bottom: 87px;

  .row {
    gap: 28px 0;
  }

  &__table {
    background: #fff;
    border-radius: 18px;
    padding: 40px 28px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.06);
    transition: all 0.35s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  // Làm nổi bật gói Pro
  &__table--featured {
    background: #eaf1ff; // xanh dương nhạt
    border: 2px solid #1d5cff;
    box-shadow: 0 12px 28px rgba(29, 92, 255, 0.25);

    .pricing__title {
      color: #1d5cff;
    }

    .pricing__price {
      color: #1540b8;
    }

    .pricing__btn {
      background: #1d5cff;

      &:hover {
        background: #1540b8;
      }
    }
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  &__features {
    list-style: none;
    padding: 0;
    margin: 0 0 28px;

    li {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 14px;
      color: #444;
      text-align: left;
    }
  }

  &__icon {
    flex-shrink: 0;
    font-size: 15px;
    margin-right: 10px;
    color: #1d5cff;
    background: rgba(29, 92, 255, 0.12);
    padding: 6px;
    border-radius: 50%;
  }

  &__btn {
    display: block; // cho full width
    width: 100%; // full chiều ngang
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #0F172B;
    box-shadow: 0 6px 16px rgba(29, 92, 255, 0.25);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }
  }
}
.pricing__first-title {
  font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}

@media (max-width: 576px) {
  .pricing__first-title {
    font-size: 27px;
  }
}