.services {
  padding-bottom: 83px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
}

.service-card {
  padding: 2rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.35s ease;
  color: #111827;
  position: relative;
  overflow: hidden;
  height: auto;
  &:hover {
    transform: translateY(-10px);
  }

  .icon {
    font-size: 2rem;
    margin-bottom: 1.2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: transform 0.3s ease;
  }

  h3 {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }

  p {
    margin-bottom: 1.2rem;
    font-size: 1rem;
    color: #4b5563;
    line-height: 1.6;
  }

  a {
    font-weight: 500;
    font-size: 0.95rem;
    text-decoration: none;
    transition: all 0.2s ease;
    color: black;
    padding: 8px 15px;
    display: inline-flex;
    align-items: center;
    gap: 6px; // giữ khoảng cách chữ - icon
    cursor: pointer;

    .icon--direction {
      transition: transform 0.3s ease;
      font-size: 1rem;
    }

    &:hover {
      background-color: #0f172b;
      border-radius: 6px;
      color: white;

      .icon--direction {
        transform: translateX(5px); // dịch sang phải khi hover
      }
    }
  }
}

/* 🎨 Background nhạt + icon gradient */
.recording {
  background: #ffffffb8;

  .icon.blue {
    background: linear-gradient(135deg, #d0defd, white);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
    color: #0084d1;
  }
}

.mixing {
  background: #ffffffb8;

  .icon.purple {
    background: linear-gradient(135deg, #d0defd, white);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
    color: #ecaaf4;
  }
}

.beat {
  background: #ffffffb8;

  .icon.orange {
    background: linear-gradient(135deg, #d0defd, white);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.3);
    color: #eda965;
  }
}

.services__desc {
  margin: 0;
  padding-top: 9px;
  font-size: 17px;
}

.services__title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-right: 16px;
}

.services__cover {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .services__title {
    font-size: 25px;
  }
}
